.segmentTopWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.segmentTopWrapper pre {
  margin: 20px;
}

.segmentName {
  font-size: 32px;
}

.bottomLine {
  height: 100px;
  width: 0px;
  border-left: 1px solid lightgray;
}

.topLine {
  height: 100px;
  width: 0px;
  border-left: 1px solid lightgray;
}
