.parallaxWrapper {
  margin-top: 32px;
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
}

.parallaxText {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 5px;
  user-select: none;
}

.parallaxText h1 {
  
  font-weight: 500;
}

.parallaxText h2 {
  font-weight: 200;
}
