.carouselWrapper{
    max-width: 100%;
    max-height: inherit;
    height: inherit;
    width: inherit;
    display: inline-flex;
    align-items: center;
}

.carouselWrapper img{
    overflow:auto;
    height: inherit;
    width: inherit;
}

