.imageTileWrapper {
  position: relative;
  background-color: black;
}

.itemName {
  opacity: 100%;
  position: absolute;
  display: none;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imageTileWrapper img {
  display: block;
  box-sizing: inherit;
  transition: opacity 0.2s;
  max-width: 100%;
  height: auto;
}

.imageTileWrapper:hover img {
  opacity: 25%;
}

.imageTileWrapper:hover div {
  display: block;
}

.splashWrap-enter {
  opacity: 0;
}

.splashWrap-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.splashWrap-exit {
  opacity: 1;
}

.splashWrap-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease;
}
