.imageTileWrapper {
  position: relative;
  background-color: black;
  max-width: 510px;
  max-height: 510px;
  object-fit: cover;
}

.itemName {
  opacity: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: none;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imageTileWrapper img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: opacity 0.2s;
}

.imageTileWrapper:hover img {
  opacity: 25%;
}

.imageTileWrapper:hover div {
  display: block;
}

.splashWrap-enter {
  opacity: 0;
}

.splashWrap-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.splashWrap-exit {
  opacity: 1;
}

.splashWrap-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease;
}
