.footerWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 1010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.smallFooterWrapper{
  position: absolute;
  bottom: 0;
}

.iconsWrapper {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
